/*Google Fonts - Cherry Bomb One and Nunito Sans*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Nunito Sans", sans-serif;
    --secondary-font: "Cherry Bomb One", sans-serif;
    --background-color: #60435F; /*english violet*/
    --primary-color: #D67AB1; /*sky magenta*/
    --secondary-color: #23B5DE; /*pacific cyan*/
    --primary-highlight-color: #E2A3CF; /*plum (web)*/
    --secondary-highlight-color: #A8DCD9; /*tiffany blue*/
}

body {
    background-color: white;
}

.dark-mode {
    background-color: orange;
    color: lightgray;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

/*navigation*/
.navbar-custom {
    font-family: var(--secondary-font);
    background-color: var(--background-color);
    font-size: 30px;
}

/*add a right-side border to list items, except the last one*/
#navigation li {
    border-right: 1px solid var(--primary-highlight-color);
}

#navigation li:last-child {
    border-right: none;
}

/*header*/
#header {
    height: 800px;
    width: 100%;
    background: url("../images/pride flags.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

    #header h1 {
        color: var(--primary-color);
    }

    #header p {
        color: var(--secondary-color);
    }

#header-text {
    background-color: rgb(255, 255, 255, .8);
    position: absolute;
    bottom: 25px;
    width: 40%;
    padding: 20px;
}

.section {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}



/*leave button*/
.leave-button {
    position: sticky;
    width: 10%;
    height: 10%;
    position: sticky;
    bottom: 8px;
    right: 16px;
    border: 2px solid black;
    background-color: var(--background-color);
}

.leave-button a {
    font-family: var(--primary-font);
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-highlight-color);
}

/*dictionary*/
.accordion {
    margin: 2rem;
    --bs-accordion-btn-color: var(--primary-color) !important;
    --bs-accordion-btn-bg: var(--primary-highlight-color) !important;
    --bs-accordion-btn-active-bg: var(--secondary-highlight-color) !important;
    --bs-accordion-btn-active-color: var(--secondary-color) !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

/*removes border between the button and the content*/
.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

/*centering the majority of the text to stand out*/
#dictionary {
    text-align: center;
}

/*aligning the text to the left within the accordion for readability*/
.accordion-body {
    text-align: left;
    font-family: var(--primary-font);
}

/*DEI section*/
#dei-school {
    padding-bottom: 1rem;
}

#school-box {
    border: 3px dashed var(--secondary-highlight-color);
}

#school-box p {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

#dei-work {
    padding-bottom: 1rem;
}
#work-box {
    border: 3px dashed var(--primary-highlight-color);
}

#work-box p {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

/*resources*/
#resources h2{
    color: var(--secondary-highlight-color);
}

#resources a {
    font-weight: bold;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

/*footer*/
#contact {
    background-color: var(--background-color);
    color: var(--primary-highlight-color);
    padding-bottom: 1rem;
}

#socials {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 5px;
}

#socials svg {
    color: var(--secondary-highlight-color);
}

#socials li {
    border: none;
}

/*media query : large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {
    .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}