/*Google Fonts - Cherry Bomb One and Nunito Sans*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Nunito Sans", sans-serif;
    --secondary-font: "Cherry Bomb One", sans-serif;
    --background-color: #60435F; /*english violet*/
    --primary-color: #D67AB1; /*sky magenta*/
    --secondary-color: #23B5DE; /*pacific cyan*/
    --primary-highlight-color: #E2A3CF; /*plum (web)*/
    --secondary-highlight-color: #A8DCD9; /*tiffany blue*/
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

p {
    font-family: var(--primary-font);
}

/*navigation*/
.navbar-custom {
   font-family: var(--secondary-font);
   background-color: var(--background-color);
   font-size: 30px;
}

/*header*/
#header {
   justify-content: center;
}

#header h1 {
    color: var(--primary-color);
}

#header p {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.section {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/*dictionary*/
.accordion {
    margin: 2rem;
    --bs-accordion-btn-color: var(--primary-color) !important;
    --bs-accordion-btn-bg: var(--primary-highlight-color) !important;
    --bs-accordion-btn-active-bg: var(--secondary-highlight-color) !important;
    --bs-accordion-btn-active-color: var(--secondary-color) !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

/*removes border between the button and the content*/
.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

/*centering the majority of the text to stand out*/
#dictionary {
    text-align: center;
}

/*aligning the text to the left within the accordion for readability*/
.accordion-body {
    text-align: left;
}