/*Google Fonts - Cherry Bomb One and Nunito Sans*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Nunito Sans", sans-serif;
    --secondary-font: "Cherry Bomb One", sans-serif;
    --background-color: #60435F; /*english violet*/
    --primary-color: #D67AB1; /*sky magenta*/
    --secondary-color: #23B5DE; /*pacific cyan*/
    --primary-highlight-color: #E2A3CF; /*plum (web)*/
    --secondary-highlight-color: #A8DCD9; /*tiffany blue*/
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

/*navigation*/
.navbar-custom {
   font-family: var(--secondary-font);
   background-color: var(--background-color);
   font-size: 30px;
}

/*header*/
#header *{
    text-align: center;
}

#header h1 {
    color: var(--primary-color);
}

#header p {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.section {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/*dictionary*/
#accordion {
    margin: 2rem;
}

#accordion-one h2{
   color: var(--primary-color);
}

#accordion-two h2 {
    color: var(--secondary-color);
}